/* Default (Light Mode) */
body {
  --color-background: #fafafa;
  --color-foreground: #1f2023;
}

/* Dark Mode */
body.dark {
  --color-background: #1f1f1f; /* Dark background for the chart */
  --color-foreground: #ffffff; /* Light text color for dark mode */
}

/* Light Mode */
body.light {
  --color-background: #ffffff; /* Light background for the chart */
  --color-foreground: #000000; /* Dark text color for light mode */
}

/* Apply variables */
body, html, #root, .App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* Sidebar styling */
.sidebar {
  background-color: var(--color-background);
  padding: 5px;
  width: 20%;
  color: var(--color-foreground);
}

/* Chart container */
.chart-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background);
}

/* Recharts styles */
.recharts-tooltip-wrapper {
  background-color: var(--color-background) !important;
  border-color: var(--color-foreground) !important;
  color: var(--color-foreground) !important;
}

.recharts-cartesian-axis-tick text {
  fill: var(--color-foreground) !important;
}

.recharts-line {
  stroke: #ff6347 !important;
}

.recharts-cartesian-grid line {
  stroke: var(--color-foreground) !important;
}
